body {
    background: #f6f0ff;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color:rgb(140 134 199);
    font-size:3em;
}
h2 {
    color: #CD5888;
}
.labheading {
    margin-top: 40px;
}
.parent {
    text-align: center;
    margin-top:60px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div1 { 
    grid-area: 1 / 2 / 8 / 4;
}
.div2 { 
    grid-area: 1 / 5 / 6 / 8;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.col1 {
    float:left;
}
.col2 {
    float:right;
}
.col1, .col2 {
    width:49%;
    padding:10px 0 10px 0;
}

.input-group {
    position: relative;
    
   }
   
   .input {
    max-width: 80%;
    max-height: 80%;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #2196f3;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #8148d2;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #5d389d;
   }
   
   .input:focus ~ label , input:valid ~ label {
    transform: translateY(-50%) scale(1);
    background-color: #f6f0ff;
    padding: 0 .2em;
    color: #2196f3;
   }

.submitbutton {
    margin-top: 10px;
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
   }
   
   .submitbutton:hover {
    animation: ani 8s linear infinite;
    border: none;
   }
   
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   .submitbutton:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   
   .submitbutton:hover::before {
    filter: blur(20px);
   }
   
   .submitbutton:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
   }
  
   .resetbutton {
    margin-top: 10px;
    text-decoration: none;
    position: relative;
    border: 3px solid red ;
    font-size: 14px;
    font-family: inherit;
    color: red;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
   }
   
   .resetbutton:hover {
    color:white;
    background-color: red;
   }
  
   .parent2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 0.25fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .div3 { 
        grid-area: 1 / 3 / 6 / 11;
         ;
    }
    
.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    width:150px;
    border-color:rgb(255, 255, 255);
    background-color:#2d1950;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:1rem;
    overflow:hidden;
    padding:13px 14px;
    word-break:normal;
    text-align: center;
}
.tg th{
    border-color:rgb(255, 255, 255);
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:1rem;
    font-weight:bolder;
    overflow:hidden;
    padding:13px 14px;
    word-break:normal;
}
.timing, .thead {
    background-color: rgb(140 134 199);;
    color:#fff;
    font-size: 2rem;
}

.downloadbutton {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .downloadbutton::before,
  .downloadbutton::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .downloadbutton::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .downloadbutton::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .downloadbutton:active,
  .downloadbutton:focus {
    outline: none;
  }
  
  .downloadbutton:active::before,
  .downloadbutton:active::after {
    right: 3px;
    left: 3px;
  }
  
  .downloadbutton:active::before {
    top: 3px;
  }
  
  .downloadbutton:active::after {
    bottom: 3px;
  }
  
  .downloadbutton_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #5f3f92;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .downloadbutton_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .downloadbutton_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .downloadbutton_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .downloadbutton_text {
    position: relative;
  }
  
  .downloadbutton:hover {
    color: #0f1923;
  }
  
  .downloadbutton:hover .downloadbutton_sl {
    width: calc(100% + 15px);
  }
  
  .downloadbutton:hover .downloadbutton_lg::after {
    background-color: #fff;
  }
.center {
    margin-left: 680px;
}
